body {
		font-family:arial,helvetica,sans-serif;
		font-size:12px;
}


#wrapper {
		
		width:900px;
		margin:0px auto;
		border:1px solid #bbb;
		padding:10px;
}

#header {
		border:1px solid #bbb;
		height:80px;
		padding:10px;
}
	
#content {
		margin-top:10px;
		padding-bottom:10px;
}
	
#content div {
		padding:10px;
		border:1px solid #bbb;
		float:left;
}

#content-left {
		width:auto;
}

#content-main {
		margin-left:10px;
		width:200px;
}
	
#content-right {
		margin-left:10px;
		width:134px;
}
	
#footer {
		float:left;
		margin-top:10px;
		margin-bottom:10px;
		padding:10px;
		border:1px solid #bbb;
		width:878px;
}

#bottom {
		clear:both;
		text-align:right;
}
	
ul {
	
    padding:0;
	list-style:none;
	
}	

ul li {

	position:relative;
    line-height:21px;
    text-align:left;	
}

ul li a{
	
	display:block;
	color:#333;
		
}

ul li a:hover{
	color:#fff;
	background: #939393;

}
	
ul li ul.dropdown{
	
	background:#f2f2f2;
	display:none;
	position:absolute;
	z-index:999;
	left:0;
	
	
}

ul li:hover ul.dropdown{
	
    bottom:100%;
	display:block;
	
}

ul li ul.dropdown li{

	display:block;
	
}

.syntax {
	padding:0;
	text-align:left;
}
	